@import "tailwindcss";

body {
  background: rgb(205, 187, 147);
}
.navList .navItem {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.navList .navItem img {
  width: 20px;
  height: 20px;
  margin-left: 2px;
}

.navIcons div {
  margin-right: 5px;
}
